.modalBackground {
    background-color: var(--dark-slate-grey);
    position: fixed;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal {
    display: grid;
    height: 100vh;
    max-width: 25rem;
    gap: var(--pad);
    padding: var(--pad);
    background-color: var(--white);
    transition: all;
}

@media (min-width: 700px) {
    .modal {
        max-width: 30rem;
        height: fit-content;
        border-radius: var(--pad);
        padding: 3rem;
    }
}

.message {
    align-self: center;
}

.message h1 {
    padding-block: var(--pad);
}

img {
    max-width: 20%;
}

#dismiss {
    align-self: flex-end;
}